
    /* ::before y ::after 
       Añade contenido antes y después del <h1> sin modificar el HTML */
    h1::before {
      content: "⭐ ";
    }

    h1::after {
      content: " ⭐";
    }

    /* :not(selector) 
       Selecciona todos los botones que NO tienen la clase .primary */
    button:not(.primary) {
      background-color: lightgray;
      color: black;
    }

    /* :nth-child(n) 
       Selecciona el segundo <li> hijo dentro del <ul> */
   ol li:nth-child(2) {
      color: blue; 
       font-weight: bold; 
    }

    li:nth-child(3) {
      font-size: 40px;
       font-weight: bold; 
    }

    /* :nth-of-type(n) 
       Selecciona el segundo <p> dentro del <section> (sin importar hijos de otro tipo) */
    section p:nth-of-type(2) {
      color: purple;
      font-style: italic;
    }

    /* :hover 
       Aplica estilos cuando el usuario pasa el mouse por encima del enlace */
   

    /* :active 
       Aplica estilos cuando se hace clic en el botón (estado activo) */
    button:active {
      transform: scale(0.55);
      background-color: rgb(26, 14, 119);
    }

    /* :focus 
       Estiliza un campo de entrada cuando recibe el foco (el cursor está dentro) */
    input:focus {
      outline: 2px solid rgb(41, 32, 217);
    }

    /* :target 
       Aplica estilos al elemento que es objetivo de un enlace con #id */
    #info:target {
      background-color: rgb(189, 100, 195);
      padding: 1em;
      border-radius: 6px;
    }

    /* :checked 
       Aplica estilo al <label> si su checkbox está marcado */
    input[type="checkbox"]:checked+label {
      background-color: green;
      color: white;
      padding: 0.2em 0.5em;
      border-radius: 4px;
    }

    /* :valid 
       Aplica estilo a campos válidos (por ejemplo, un email bien escrito) */
    input:valid {
      border: 2px solid green;
    }

    /* :invalid 
       Aplica estilo a campos inválidos (por ejemplo, un email mal escrito) */
    input:invalid {
      border: 2px solid red;
    }

    /* :placeholder-shown 
       Aplica estilo mientras el campo muestra el texto del placeholder */
    input:placeholder-shown {
      color: gray;
    }

    button[class~=primary] {
      width: 500px;
    }
    a[href^="https://"] {
      font-size: 100px;
    }
   a:hover {
      color: orange;
      text-decoration: underline;
      font-size: 50px;
    }

    h1+h2 {
      background-color: rgb(68, 211, 45);
    }

    a ~ h2{
      background-color: yellow;
    }
    div div p{
      background-color: aqua;
    }

    ol > li {
      background-color: crimson;
    }

     /* p:nth-of-type(1){
      background-color: darkmagenta;
    } */

  