  body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .container{
    height: 100vh;
    width: 90%;
    
  }
  /* Por defecto mostramos la imagen de Amanecer */
  .imagen {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .amanecer {
    display: block;
  }
  .atardecer, .anochecer {
    display: none;
  }

  /* Media query para pantallas medianas: mostrar Atardecer */
  @media (min-width: 600px) and (max-width: 900px) {
    .amanecer {
      display: none;
    }
    .atardecer {
      display: block;
    }
  }

  /* Media query para pantallas grandes: mostrar Anochecer */
  @media (min-width: 901px) {
    .amanecer, .atardecer {
      display: none;
    }
    .anochecer {
      display: block;
    }
  }