/* Importación de fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Asta+Sans:wght@300..800&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilo general del body */
body {
  background-color: aqua;
  font-family: 'Aboreto', sans-serif;
}

/* Caja de contenido con transición */
.content-box {
  height: 500px;
  background-color: blueviolet;
  transition: background-color 5s ease 0.1s;
}

/* Cambio de color al pasar el mouse */
.content-box:hover {
  background-color: yellow;
}

/* Estilo general para los íconos */
i {
  color: black;
  font-size: 100px;
}
